<header class="flex justify-between items-center mb-8 w-full">
  <!-- Title Section -->
  <div>
    <h2 class="text-3xl font-bold text-pink-700">Welcome, {{ profileName }} !</h2>
    <p class="text-sm text-gray-600">Here’s what’s happening today</p>
  </div>

  <!-- Notifications Button -->
<div class="flex gap-4" >
  <button
  type="button"
  (click)="displayProfile()"
  class="flex items-center px-4 py-2 border border-pink-600 text-pink-600 rounded-lg shadow hover:border-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500 transition-all"
>
  <lucide-icon [img]="User" class="mr-2 h-5 w-5"></lucide-icon>
  <span>Profile</span>
</button>
  <button
  type="button"
  class="flex items-center px-4 py-2 bg-pink-600 text-white rounded-lg shadow hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500 transition-all"
>
  <lucide-icon [img]="Bell" class="mr-2 h-5 w-5"></lucide-icon>
  <span>Notifications</span>
</button>
</div>

 <!-- Profile Popup -->
 <div
 *ngIf="display()"
 class="flex items-center justify-center w-screen h-full fixed left-0 top-0 bg-[#0000002a]"
 (click)="displayProfile()"
>
 <div
   (click)="$event.stopPropagation()"
 >
   <app-profile 
   [openCloseProfile]="display()"
   (closeProfile)="displayProfile()"
   ></app-profile>
 </div>
</div>

</header>
