<!-- card -->
 <div>
    <!-- card header -->
     <div>
        <h1 class="">Recent Appointment</h1>
     </div>
     <ul class="space-y-4">
        <li key={index} className="flex items-center justify-between border-b pb-2">
            <div>
              <p className="font-semibold">Haircut and Style</p>
              <p className="text-sm text-gray-500">with Emma Thompson</p>
            </div>
            <div className="flex items-center">
              <lucide-icon [img]="CalendarIcon"  className="mr-2 h-4 w-4 text-pink-600" />
              <span>May 15, 2023</span>
            </div>
          </li>
        <li key={index} className="flex items-center justify-between border-b pb-2">
            <div>
              <p className="font-semibold">Haircut and Style</p>
              <p className="text-sm text-gray-500">with Emma Thompson</p>
            </div>
            <div className="flex items-center">
              <lucide-icon [img]="CalendarIcon"  className="mr-2 h-4 w-4 text-pink-600" />
              <span>May 15, 2023</span>
            </div>
          </li>
        <li key={index} className="flex items-center justify-between border-b pb-2">
            <div>
              <p className="font-semibold">Haircut and Style</p>
              <p className="text-sm text-gray-500">with Emma Thompson</p>
            </div>
            <div className="flex items-center">
              <lucide-icon [img]="CalendarIcon"  className="mr-2 h-4 w-4 text-pink-600" />
              <span>May 15, 2023</span>
            </div>
          </li>
        <li key={index} className="flex items-center justify-between border-b pb-2">
            <div>
              <p className="font-semibold">Haircut and Style</p>
              <p className="text-sm text-gray-500">with Emma Thompson</p>
            </div>
            <div className="flex items-center">
              <lucide-icon [img]="CalendarIcon"  className="mr-2 h-4 w-4 text-pink-600" />
              <span>May 15, 2023</span>
            </div>
          </li>
     </ul>

 </div>