<!-- profile card -->
<div class="space-y-8">
    <!-- card -->
     <div>
        <!-- card header -->
         <div>
            <h1>My Profile</h1>
         </div>
         <!-- card contet -->
          <div class="flex items-center space-x-8">
            <img src="/login_portal//placeholder.svg" alt="profile image" class="w-52 h-52 rounded-full">
            <div>
                <h3 class="text-2xl font-semibold">Imalsha Wijeekon</h3>
                <p class="text-gray-500">Premium Member</p>
                <div>
                    <p class="flex items-center"><lucide-icon [img]="MailIcon" class="mr-2 h-4 w-4" /> imalshawijekoon8&#64;gmail.com</p>
                    <p class="flex items-center"><lucide-icon  [img]="PhoneIcon" class="mr-2 h-4 w-4" /> (555) 123-4567</p>
                    <p class="flex items-center"><lucide-icon [img]="MapPinIcons" class="mr-2 h-4 w-4" /> New York, NY</p>
                </div>
                <button type="button" class="mt-4 bg-pink-600 hover:bg-pink-700 text-white">Edit Profile</button>
            </div>
          </div>
     </div>
</div>