<!-- card -->
<div>
  <!-- card header -->
  <div>
    <h1 class="">Notifications</h1>
  </div>
  <ul class="space-y-4">
    <li class="flex items-center space-x-4 border-b pb-2">
      <div className="bg-pink-100 p-2 rounded-full">
        <lucide-icon [img]="BellIcon" className="h-4 w-4 text-pink-600" />
      </div>
      <div>
        <p className="font-semibold">New promotion available!</p>
        <p className="text-sm text-gray-500">Check out our summer specials.</p>
      </div>
    </li>
    <li class="flex items-center space-x-4 border-b pb-2">
      <div className="bg-pink-100 p-2 rounded-full">
        <lucide-icon [img]="BellIcon" className="h-4 w-4 text-pink-600" />
      </div>
      <div>
        <p className="font-semibold">New promotion available!</p>
        <p className="text-sm text-gray-500">Check out our summer specials.</p>
      </div>
    </li>
    <li class="flex items-center space-x-4 border-b pb-2">
      <div className="bg-pink-100 p-2 rounded-full">
        <lucide-icon [img]="BellIcon" className="h-4 w-4 text-pink-600" />
      </div>
      <div>
        <p className="font-semibold">New promotion available!</p>
        <p className="text-sm text-gray-500">Check out our summer specials.</p>
      </div>
    </li>
    <li class="flex items-center space-x-4 border-b pb-2">
      <div className="bg-pink-100 p-2 rounded-full">
        <lucide-icon [img]="BellIcon" className="h-4 w-4 text-pink-600" />
      </div>
      <div>
        <p className="font-semibold">New promotion available!</p>
        <p className="text-sm text-gray-500">Check out our summer specials.</p>
      </div>
    </li>
  </ul>
</div>
