<div class="bg-white rounded-md shadow-sm my-6 flex flex-col">
    <div class="text-left">
        <h1 class="text-black font-bold capitalize" > my appointments</h1>
    </div>
    <div class="flex items-center justify-between">
        <div class="flex gap-4">
            <div class="flex items-center justify-between gap-2 rounded-sm border-gray-200">
                <input type="date" name="date" id="date" placeholder="dd/mm/yyyy" >
            </div>
            <div class="flex items-center justify-between gap-2 rounded-sm border-gray-200">
                <select name="d" id=""></select>
            </div>
        </div>
    </div>
</div>